@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container>h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.content:hover>fieldset {
    border-color: #86E9CB;
}

.content:hover>fieldset>legend {
    color: #86E9CB;
}

fieldset {
    border-radius: 6px;
    border: 1px solid #5995ED;
    font-weight: 600;
    color: #5995ED;
    padding: 10px;
}

legend {
    font-size: 1.2rem;
}

p {
    font-size: 1.5rem;
    color: #333;
}

#timestamp {
    font-size: 0.9rem;
    color: #666;
    margin-top: 15px;
}